{% extends 'base.html.twig' %}

{% block body %}
    <h2>Worksheets & Reports</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.id }}</td>
                <td><a href="{{ path('post.show' , {id: post.id }) }}">{{ post.title }}</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}