{% extends 'base.html.twig' %}

{% block content_body %}
    <div style="max-width: 480px">
        <h1 style="font-size: 21px">Welcome to the EasyAdmin Demo application</h1>

    </div>
{% endblock %}