{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}

    <section class="ui container">

        <form class="ui form" action="/anker/message" method="get">
            <div class="field">
                <label>Organizations:</label>
                <select id="facilities" name="facilities">
                    {% for orgs in organizations %}
                        <option value="{{ orgs.T_EP_ORGANIZATION_EP_ID }}">{{ orgs.DM_ORG_DESC }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="field">
                <label>Facility:</label>
                <input type="text" name="facilities">
            </div>

            <div class="field">
                <label>Stores</label>
                <input type="text" name="stores">
            </div>

            <button class="ui button" type="submit">Send</button>

        </form>

    </section>

{% endblock %}